{% extends 'ucsdparking/layout.html' %} {% block main %} {% load static %}
<div class="hero-container-dashboard">
    <h2 class="titlesPages">Parking Spaces per Parking Lot</h2>
    <div class="tableau-dashboard-container">
        <script type='module' src='https://us-west-2b.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script>
        <tableau-viz id='tableau-viz' src='https://us-west-2b.online.tableau.com/t/martimtucsd/views/Tableau/Dashboard4' width='800' height='640' hide-tabs toolbar='hidden'></tableau-viz>
    </div>
</div>
{% endblock %}
