{% extends 'ucsdparking/layout.html' %} 
{% block main %} 
{% load static %}

<div class="hero-container">
    <div class="hero-image" id="heroImage">
        <img src="{% static 'ucsdparking/images/library.png' %}" alt="Image 1" class="slide">
        <img src="{% static 'ucsdparking/images/Rady.jpg' %}" alt="Image 2" class="slide">
        <img src="{% static 'ucsdparking/images/bear-1.jpeg' %}" alt="Image 3" class="slide">
        <img src="{% static 'ucsdparking/images/bridge.jpg' %}" alt="Image 4" class="slide">
    </div>

    <div class="hero-titles">
        <h2 class="centered-title">University of California - San Diego</h2>
        <h3 class="centered-subtitle">Parking Lots</h3>
    </div>

    <button id="prevBtn" class="nav-btn">❮</button>
    <button id="nextBtn" class="nav-btn">❯</button>
</div>

{% endblock %}
