{% extends 'ucsdparking/layout.html' %} {% block main %} {% load static %}
<div class="hero-container-map">
    <h2 class="titlesPages">Map UCSD</h2>
    <div class="map-container">
        <iframe src="https://map.concept3d.com/?id=1005#!ce/17201?ct/25239,29254,29255,29256,29257,29258,29263,29264,29265,29266,58265,61945,61946,61947,61948,61965?s/?mc/32.88081304251091,-117.2313149235207?z/14.7040482541956?lvl/0" width="100%" height="100%" title="University of California San Diego" frameBorder="0" scrolling="no" style="border:0px solid #fff; margin:0; padding:0;"></iframe>
    </div>
</div>
{% endblock %}
