{% extends 'ucsdparking/layout.html' %} {% block main %} {% load static %}
<div class="hero-container-about">
    <div class="body-about">
        <p style="font-size: 20px; text-align: center;">
            <h1 class="titlesPagesAbouth2" style="font-size: 50px; color: white;">Use Case UCSD</h1>
            <p style="font-size: 20px; text-align: center;">A faculty member at UCSD plans to schedule a meeting with students and other staff members.
                They use the website to check the availability of parking spaces in lots close to the Rady School of Management. 
                By viewing the dashboard, they can determine the best time to schedule the meeting, ensuring that all attendees will find parking conveniently. 
                This tool also allows students and staff to plan their campus visits efficiently, selecting times when parking spaces are more readily available.</p>
            <div style="padding: 20px;"></div>
            <h1 class="titlesPagesAbouth2" style="font-size: 50px; color: white;">Use Case Rady School of Management</h1>
            <p style="font-size: 20px; text-align: center;">Parents visiting their child at UCSD for a special event at the Rady School of Management utilize the 
                website to check parking lot availability. They choose the years and quarters from the options in the list, related to the date of their visit to 
                view the average availability of the parking lots, parking spaces and at the hours of the day selected. This information helps them to plan their 
                visit better, ensuring they arrive on time for the event. They got a permit of visitor from the permits website, so it's important to check the 
                availability of this parking spaces.
            </p>
        </p>
        <div style="padding: 15px;"></div>
    </div>
</div>
{% endblock %}